/* General document CSS */

#comtitle {
  text-align: center;
}

#preWrite {
  font-weight: 600;
}

#autoWrite {
  color: crimson;
  font-weight: bolder;
}

#github-white {
  color: white;
}

/* Presentation Page CSS */

#solutions-title {
  font-weight: bolder;
}

/* Keyboard Styles */

#keyboardid {
  width: 18rem;
}