/* General document CSS */

#comtitle {
  text-align: center;
}

#preWrite {
  font-weight: 600;
}

#autoWrite {
  color: crimson;
  font-weight: bolder;
}

#github-white {
  color: white;
}

/* Presentation Page CSS */

#solutions-title {
  font-weight: bolder;
}

/* Sibani Chat CSS Styles */

#divsectionApp {
  height: 250px;
}

#divsectionFunctionApp {
  display: none;
  height: 250px;
}

#divsectionAport {
  display: none;
  height: 250px;
}

#divsectionMobile {
  display: none;
  height: 250px;
}

#mensajeria {
  margin-right: 13%;
  margin-bottom: 70%;
}

#mobileApp {
  margin-left: 5%;
  margin-top: 2%;
}

/* Animacion FadeIn / Aparicion */

@keyframes fade{
  0% {
    transform: translate(150%);
  }
}

/* Keyboard Styles */

#keyboardid {
  width: 18rem;
}

#footer {
  background-color: #212529;
}