/* General document CSS */

#comtitle {
  text-align: center;
}

#preWrite {
  font-weight: 600;
}

#autoWrite {
  color: crimson;
  font-weight: bolder;
}

#github-white {
  color: white;
}

/* Presentation Page CSS */

#solutions-title {
  font-weight: bolder;
}

/* Sibani Chat CSS Styles */

#fdivsectionApp {
  height: 250px;
}

#farticleApp {
  margin-top: 500px;
}

#mensajeria {
  margin-right: 10%;
  margin-bottom: 70%;
}

/* Animacion FadeIn / Aparicion */

@keyframes fade{
  0% {
    transform: translate(150%);
  }
}

/* Keyboard Styles */

#keyboardid {
  width: 18rem;
}

#footer {
  bottom: auto;
}